// Custom Styles
.container {
  width:300px;
  margin: 25px auto;
}

input {
  width: 300px;
}

.todoLeft {
  font-size: 11px;
  margin: 10px 0;
  text-align: right;
}

ul {
  margin: 55px 0;
  padding: 0;
  list-style: none;
  li {
    cursor: pointer;
    margin: 15px 0;
    border-bottom: 1px dashed #000;
    span {
      float: right;
      color:red;
    }
  }
}

.done {
  text-decoration: line-through;
  color: grey;
}
